# log files
tout*.txt
aout*.txt
pout*.txt
logout*.txt

# ctags
tags

# examples provided with pyqt
pyqtexample.py
scrolling.py
singleplot.py

# theta heatmap filels, np data file and pngs
*.npz
*.png

# swap files, python binaries
*.swp
__pycache__/
*.py[cod]
